body {
    background-color: #B8E1FF;
    max-width: 100%;
}

.form-group {
    padding: 2% 0 0 23%;
    max-width: 100%;
}

.card {
    background-color: #87CEFA;
    max-width: 50%;
    margin: auto;
}

.btn {
    margin: 2% 10% 5% 23%;
}

.register-form {
    max-width: 70%;
    margin-top: 10%;
}

#id_username,
#id_password1,
#id_password2 {
    max-width: 70%;
}

.login-link {
    padding: 2% 30% 0 33%;
}

@media (max-width: 768px) {
    .register-form {
        max-width: 100%;
        padding: 0 0 0 0;
    }
}