body {
    background-color: #B8E1FF;
    max-width: 100%;
}

.login-form {
    max-width: 70%;
    margin-top: 10%;
}

.form-group {
    padding: 2% 0 0 20%;
    max-width: 80%;
}

.card {
    background-color: #87CEFA;
}

.btn {
    margin: 2% 0 2% 20%;
}

.error-msg {
    color: red;
    margin: 0 0 3% 20%;
}

.register-link {
    padding: 2% 30% 0 33%;
}

#content {
    width: 40%;
    margin: 20% auto auto auto;
}

#logout{
    margin: auto;
}

@media (max-width: 770px) {
    #content {
        max-width: 100%;
        margin: 30% auto auto auto;
    }

    #logout {
        margin: auto;
    }
}