{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    <div class="container" id="content">
        <div class="card shadow rounded">
            <div class="card-body">
              <h2 class="card-title">Hello!</h2>
              <p class="card-text">Welcome back, {{user.username}}</p>
            </div>
        </div>
        <p id="logout"><a href="{% url 'loginPage:logout' %}" style="color: red;">Logout</a></p>
    </div>
    {% else %}
    <div class="container" id="content">
        <div class="card shadow rounded">
            <div class="card-body">
                <h2 class="card-title">Oh, hi!</h2>
                <p class="card-text">I think you should login first to access this page</p>
                <p>login <a href="{% url 'loginPage:login' %}">here</a>!</p>
            </div>
        </div>
        {% endif %}
    </div>

</body>
</html>