{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container login-form">
        <div class="card shadow rounded">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group" style="padding-top: 3%;">
                  <label for="username">Username :</label>
                  {{form.username}}
                </div>
                <div class="form-group">
                  <label for="password">Password :</label>
                  {{form.password}}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
    
            <div class="error-msg">
                {% for msg in messages %}
                    {{msg}}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container register-link">
        <p>Doesn't have any account? Register <a href="{% url 'loginPage:register' %}">here</a></p>
    </div>
</body>
</html>