{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>

    <div class="container register-form">
        <div class="card shadow rounded">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <label for="username">Username :</label>
                    </div>
                    <div>
                        {{form.username}}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="password1">Password :</label>
                    </div>
                    <div>
                        {{form.password1}}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="password2">Password confirmation :</label>
                    </div>
                    <div>
                        {{form.password2}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {{form.username.errors}}
            {{form.password1.errors}}
            {{form.password2.errors}}
        </div>
    </div>

    <div class="container login-link">
        <p>Already have an account? Sign in <a href="{% url 'loginPage:login' %}">here</a></p>
    </div>

</body>
</html>